[submodule "LiVoGS"]
	path = LiVoGS
	url = https://github.com/USC-NSL/LiVoGS.git
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "RAFT-Stereo"]
	path = RAFT-Stereo
	url = https://github.com/princeton-vl/RAFT-Stereo.git
